@tailwind base;
@tailwind components;
@tailwind utilities;

[theme="light"] {
  --page-background: #e6ebf4;
  --primary-text: #22232c;
  --secondary-text: #424550;
  --profile-background: #ebf0f7;
  --profile-border: #d1d5e0;
  --socials-border: #b2b4be;
  --work-text: #ebf0f7;
  --work-background: linear-gradient(
    109.6deg,
    rgba(119, 44, 232, 0.68) 11.5%,
    rgb(119, 44, 232) 91.2%
  );
  --scrollbar-background: #bdc1c8;
}

[theme="dark"] {
  --page-background: #111111;
  --primary-text: #e9e9f1;
  --secondary-text: #c7c6d3;
  --profile-background: #161616;
  --profile-border: #303033;
  --socials-border: #3a3a3d;
  --work-text: #161616;
  --work-background: radial-gradient(
    circle at 0.3% 1.3%,
    rgb(235, 217, 221) 0%,
    rgb(216, 174, 211) 45.1%,
    rgb(145, 130, 196) 100.2%
  );
  --scrollbar-background: #000000;
}

.profile {
  background-color: var(--profile-background);
  border: 1px solid var(--profile-border);
  border-radius: 40px;
}

.secondary-text {
  color: var(--secondary-text);
}

.border-socials {
  border: 1px solid var(--socials-border);

  border-radius: 20px;
}

.work-button {
  color: var(--work-text);
  background: var(--work-background);
}

.gradient-fill {
  fill: url(#gradientFill);
}

.gradient-fill_mobile {
  fill: url(#gradientFill_mobile);
}

:root {
  color: var(--primary-text);
  background-color: var(--page-background);
}

.pageSize {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.avatar {
  background-image: url(../assets/avatar.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--work-background);
  border-radius: 4px; /* Bordes redondeados */
}

.button {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.4s;
}

.button:hover {
  transform: scale(1.02);
}

.label-up {
  display: block;
  margin: 0px 0px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.4s;
}

.button:hover .label-up {
  top: -100%;
}

.button-socials {
  display: inline-block;
  height: 50px;
  line-height: 60px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.5s;
}

.button-socials:hover {
  transform: scale(1.08);
}

.label-up-socials {
  display: block;
  margin: 15px 15px;
  height: 100%;
  position: relative;
  top: 0%;
  transition: 0.5s;
}

.button-socials:hover .label-up-socials {
  top: -130%;
}
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0s;
}
