@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #525252;
  --background-color: #ffffff;
  color: var(--color);
  background-color: var(--background-color);
}

[theme="dark"] {
  --color: #ededed;
  --background-color: rgb(37, 37, 37);
  color: var(--color);
  background-color: var(--background-color);
}

.pageSize {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
